@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500;800&display=swap');


body{
    background-color: #210535;
    /* background-image: url(Ellipse\ 6.png); */
    background-image: url(assets/starts.png), url(assets/Ellipse\ 6.png);
    background-repeat: no-repeat;
}
.title{
    font-weight: 550;
}

.detail{
    font-size: 24px;
}

.padding{
    margin-top: 6em;
}

.whitefont{
    font-family: 'Inter';
    color: white;
}

.tombol {
    font-family: 'Inter';
    font-size: 15px;
    color: purple;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 45px;
    margin-top: 10px;
    background-color: white;
    background-image: url(assets/arrow-right.png);
    background-repeat: no-repeat;
    background-position: 125px;
}
a {
    text-decoration: none;
}
a:hover, button:hover{
    opacity:0.9;
}